<tr id="<%=dom_id scan %>" class="odd:bg-gray-100 hover:bg-blue-100">
  <td class="py-3 px-6">
    <%= scan.batch_number %>
  </td>
  <td class="py-3 px-6">
    <%= scan.size_group_name %>
  </td>
<!--  <td class="py-3 px-6">-->
    <%#= scan.site.dubbot_id %>
<!--  </td>-->
  <td class="py-3 px-6">
    <%= scan.site.name %>
  </td>
  <td class="py-3 px-6">
    <%= number_with_delimiter(scan.pages) %>
  </td>
  <td class="py-3 px-6">
    <%= scan.overall_score %>%
  </td>
  <td class="py-3 px-6">
    <%= number_with_delimiter(scan.broken_links) %>
  </td>
  <td class="py-3 px-6">
    <%= number_with_delimiter(scan.accessibility_issues) %>
  </td>
  <td class="py-3 px-6">
    <%= number_with_delimiter(scan.misspellings) %>
  </td>
<!--  <td class="py-3 px-6">-->
    <%#= scan.flagged_words %>
<!--  </td>-->
  <td class="py-3 px-6">
    <%= scan.site.last_crawl_at.to_fs(:long) if scan.site.last_crawl_at.present? %>
  </td>
  <% if user_signed_in? %>
    <td class="py-3 px-6">
      <%= link_to 'Edit', edit_scan_path(scan), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  <% end %>
</tr>
