<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>



  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Scans</h1>
<!--    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload file</label>-->
<!--    <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">-->

    <%= form_tag import_csv_scans_path, multipart: true do %>
      <label class="flex">
        <%= file_field_tag :scan_file, class: "block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
        <%= submit_tag :upload, class: "text-sm rounded-lg py-3 px-5 bg-blue-600 text-white" %>
      </label>
    <% end %>

  </div>

  <div id="scans" class="min-w-full">
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="py-3 px-6">Batch</th>
          <th class="py-3 px-6">Size Grouping</th>
          <th class="py-3 px-6">Dubbot Id</th>
          <th class="py-3 px-6">Name</th>
          <th class="py-3 px-6">Pages</th>
          <th class="py-3 px-6">Score</th>
          <th class="py-3 px-6">Broken Links</th>
          <th class="py-3 px-6">Accessibility Issues</th>
          <th class="py-3 px-6">Misspellings</th>
          <th class="py-3 px-6">Flagged Words</th>
          <th class="py-3 px-6">Last Crawled On</th>
          <th class="py-3 px-6"></th>
        </tr>
        </thead>
        <tbody>
          <% @scans.group_by { |s| s.size_grouping }.each do |size_grouping, scans| %>
            <%= render scans, size_grouping: size_grouping %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
