<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>



  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Scans</h1>
<!--    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="file_input">Upload file</label>-->
<!--    <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">-->

    <%= form_tag import_csv_scans_path, multipart: true do %>
      <label class="flex">
        <%= file_field_tag :scan_file, class: "block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
        <%= submit_tag :upload, class: "text-sm rounded-lg py-3 px-5 bg-blue-600 text-white" %>
      </label>
    <% end %>

  </div>

  <div id="scans">
    <table class='table-auto'>
      <thead>
      <tr>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Batch</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Dubbot Id</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Name</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Pages</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Score</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Broken Links</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Accessibility Issues</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Misspellings</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Flagged Words</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white">Last Crawled On</th>
        <th class="font-bold p-2 border-b text-left bg-indigo-700 text-white"></th>
      </tr>
      </thead>
      <tbody>
        <%= render @scans %>
      </tbody>
    </table>
  </div>
</div>
