<tr id="<%=dom_id system %>" class="odd:bg-gray-100 hover:bg-blue-100">
  <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
    <%= link_to system.name, system %>
  </th>
  <td class="py-4 px-6">
    <%= system.sites.size %>
  </td>
  <td class="py-4 px-6">
    <%= number_with_delimiter(system.current_pages) %>
  </td>
  <td class="py-4 px-6">
    <%= system.current_overall_score %>%
  </td>
  <td class="py-4 px-6">
    <%= number_with_delimiter(system.current_broken_links) %>
  </td>
  <td class="py-4 px-6">
    <%= system.broken_links_per_page.round(2) %>
  </td>
  <td class="py-4 px-6">
    <%= number_with_delimiter(system.current_accessibility_issues) %>
  </td>
  <td class="py-4 px-6">
    <%= system.accessibility_issues_per_page.round(2) %>
  </td>
  <td class="py-4 px-6">
    <%= number_with_delimiter(system.current_misspellings) %>
  </td>
  <% if user_signed_in? %>
    <td class="py-4 px-6">
      <%= link_to 'Edit', edit_system_path(system),                   class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  <% end %>
</tr>