<div class="w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="font-bold text-2xl"><%= link_to "Systems", systems_path %></h1>
    <h2 class="font-bold text-4xl text-blue-500"><%= @system.name %></h2>
    <dl class="grid grid-cols-2 gap-8 p-4 mx-auto max-w-screen-xl text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Sites</dt>
        <dd class="text-lg font-semibold"><%= @system.sites.size %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Pages</dt>
        <dd class="text-lg font-semibold"><%= @system.current_pages %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Score (Average)</dt>
        <dd class="text-lg font-semibold"><%= @system.current_overall_score %>%</dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Broken Links</dt>
        <dd class="text-lg font-semibold"><%= @system.current_broken_links %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Accessibility Issues</dt>
        <dd class="text-lg font-semibold"><%= @system.current_accessibility_issues %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Misspellings</dt>
        <dd class="text-lg font-semibold"><%= @system.current_misspellings %></dd>
      </div>
    </dl>

    <% if @system.notes.present? %>
        <div class="min-w-full mt-10">
          <%= tag.p @system.notes %>
        </div>
      <% end %>
    <div id="scans" class="min-w-full mt-10">
      <%= turbo_frame_tag 'scans', src: list_scans_url(system_id: @system.id), lazy: true %>
      <%#= render partial: 'scans/scans', locals: { scans: @system.scans.most_recent, system_id: @system.id } %>
    </div>

<!--    <div id="sites" class="min-w-full mt-10">-->
<!--      <h3>Sites in System</h3>-->
      <%#= render partial: 'sites/sites', locals: { sites: @system.sites } %>
<!--    </div>-->


  </div>
</div>
