<tr id="<%=dom_id site %>" class="odd:bg-gray-100 hover:bg-blue-100">
  <% unless controller_name == 'systems' %>
    <td class="py-3 px-6">
      <%= site.system_name %>
    </td>
  <% end %>
  <td class="py-3 px-6">
    <%= site.dubbot_id %>
  </td>
  <td class="py-3 px-6">
    <%= site.enabled %>
  </td>
  <td class="py-3 px-6">
    <%= link_to site.name,site_path(site) %>
  </td>
  <td class="py-3 px-6">
    <%= link_to site.url, site.url, target: '_blank' if site.url.present? %>
  </td>
  <td class="py-3 px-6">
    <%= site.last_crawl_at.to_fs(:long) if site.last_crawl_at.present? %>
  </td>
  <td class="py-3 px-6">
    <%= site.next_crawl_at.to_fs(:long) if site.next_crawl_at.present? %>
  </td>
  <td class="py-3 px-6">
    <%= site.scans.size %>
  </td>
  <% if user_signed_in? %>
    <td class="py-3 px-6">
      <%= link_to 'Edit', edit_site_path(site), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  <% end %>
</tr>
