<tr id="<%=dom_id site %>" class="odd:bg-gray-100 hover:bg-blue-100">
  <% unless controller_name == 'systems' %>
    <td class="py-3 px-6">
      <%= site.system_name %>
    </td>
  <% end %>
  <td class="py-3 px-6">
    <%= site.dubbot_id %>
  </td>
  <td class="py-3 px-6">
    <%= link_to site.name,site_path(site) %>
  </td>
  <td class="py-3 px-6">
    <%= site.url %>
  </td>
  <td class="py-3 px-6">
    <%= site.scans.size %>
  </td>
  <% if user_signed_in? %>
    <td class="py-3 px-6">
      <%= link_to 'Edit', edit_site_path(site), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </td>
  <% end %>
</tr>
