<div class="w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="font-bold text-2xl"><%= link_to "Sites", sites_path %></h1>
    <h2 class="font-bold text-4xl text-blue-500"><%= @site.name %></h2>
    <dl class="grid grid-cols-2 gap-6 p-4 mx-auto max-w-screen-xl text-gray-900 sm:grid-cols-3 xl:grid-cols-3 dark:text-white sm:p-8">
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">System</dt>
        <dd class="text-lg font-semibold"><%= @site.system_name || "No system identified" %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">URL</dt>
        <dd class="text-lg font-semibold"><%= link_to @site.url, @site.url, target: '_blank' %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Last Crawl</dt>
        <dd class="text-lg font-semibold"><%= @site.last_crawl_at.to_fs(:long) %>%</dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Next Crawl</dt>
        <dd class="text-lg font-semibold"><%= @site.next_crawl_at.to_fs(:long) %></dd>
      </div>
      <div class="flex flex-col justify-center items-center border rounded-lg">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Enabled</dt>
        <dd class="text-lg font-semibold"><%= @site.enabled %></dd>
      </div>
    </dl>

    <%= link_to 'Edit', edit_site_path(@site), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy', site_path(@site), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>

    <%= render partial: 'scans/scans', locals: { scans: @site.scans } %>

  </div>

</div>
